<div id="plot-popup-overlay" class="plot-popup-overlay plot-extension-root">
    <div class="plot-popup-content plot-theme-bg">
        <div class="plot-popup-header">
            <h3 class="plot-popup-title">
                <i class="fa-solid fa-book-open" style="font-size: 1.2em; display: block;"></i>
            </h3>
            <button class="plot-popup-close-btn" id="plot-popup-close-btn">
                <i class="fa-solid fa-xmark"></i>
            </button>
        </div>
        <div class="plot-tab-bar" id="plot-tab-bar">
            <!-- Injected by panel.js -->
        </div>
        <div class="plot-tab-content" id="plot-pane-wrapper">
            <!-- Injected by panel.js -->
        </div>
    </div>
</div>
